---
layout: default
title: Portfolio
---


<div class="container">

  <section class="grid header__hero">
    <div class="span4of8 span2of2">
      <h1 class="intro">Enterprise UI does not need to suck!</h1>
    </div>
   </div>
</section>
<section id="projects">
  <div class="span8of8">
    <h1>Projects</h1>
    <a class="btn" href="/projects/">View all Projects</a>
  </div>
  {% for project in site.data.projects %}
    {% if project.datatags contains "Featured" %}
      <div class="span2of8 span2of4 span2of2">
        <img src="{{ project.url }}" width="100%" alt="Xi - Mock - Edit Bar">
        <h2 class="header__project">{{ project.name }}</h2>
        <p>{{ project.description }}</p>
      </div>
    {% endif %}
  {% endfor %}
</section>
<section id="methods">
  <div class="span3of8">
    <h1>Methods</h1>
    <p>Description of sorts that summarises things I do.</p>
    <p>Etiam cursus sapien eget leo suscipit posuere eget non lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus convallis, nisl nec tincidunt hendrerit, ipsum dui posuere felis, eu posuere sapien lectus sit amet dolor. Vestibulum ullamcorper tortor laoreet, convallis nisi vitae, suscipit nisi. Suspendisse commodo blandit felis. In in convallis tellus. Nunc sodales massa lacus, quis rhoncus nibh vulputate quis.</p>
    <a class="btn" href="/methods.html">View all Methods</a>
  </div>
  <div class="span2of8">
    <ul>
      <li class="colors__red"></li>
      <li class="colors__yellow"></li>
      <li class="colors__yellow-dark"></li>
    </ul>
  </div>
   <div class="span2of8">
    <ul>
      <li class="colors__red"></li>
      <li class="colors__yellow"></li>
      <li class="colors__yellow-dark"></li>
    </ul>
  </div>
</section>

<section class="aboutme__hero" id="aboutme">
  <div class="span3of8 aboutme__statement">
    <h1>About me</h1>
    <p>Description of sorts that summarises things I do.</p>
    <p>Etiam cursus sapien eget leo suscipit posuere eget non lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus convallis, nisl nec tincidunt hendrerit, ipsum dui posuere felis, eu posuere sapien lectus sit amet dolor. Vestibulum ullamcorper tortor laoreet, convallis nisi vitae, suscipit nisi. Suspendisse commodo blandit felis. In in convallis tellus. Nunc sodales massa lacus, quis rhoncus nibh vulputate quis.</p>
    <a class="btn" href="/methods.html">View all Methods</a>
  </div>
</section>


