---
layout: default
title: Portfolio
---


<div class="container">

  <section class="grid header__hero">
    <h1 class="intro">Enterprise UI does not need to suck!</h1>
   </div>
</section>
<section id="projects">
  <div class="span8of8">
    <h1 class="section__header">Projects <a class="btn" href="/projects/">View all projects</a></h1>
  </div>
  {% for project in site.data.projects %}
    {% if project.datatags contains "Featured" %}
      <div class="span1of3 span2of4 span2of2">
        <a href="/projects/{{ project.url }}">
          <img src="{{ project.img }}" width="100%" alt="{{ project.imgalt }}">
        </a>
        <h2 class="header__project">{{ project.name }}</h2>
        <p>{{ project.description }}</p>
      </div>
    {% endif %}
  {% endfor %}
</section>

<section class="aboutme__hero" id="aboutme">
  <div class="span3of8 span2of4 span2of2 aboutme__statement">
    <h1 class="aboutme__heading">Hello!</h1>
    <p>My name is Fee Schmidt-Soltau, I'm the User Experience Design Lead at <a href="http://xively.com">Xively</a> helping to make the 'Internet of Things' work for humans. I bring together Service Design, User Research and User Centred Design to shape the Xively development experience. I also get to play with code, Arduinos and Raspberry Pi on hackdays and get to meet lots of inspiring makers and entrepreneurs at the <a href="http://www.meetup.com/iotlondon/">#IoTLondon meetups</a>.</p>
    <a class="btn" href="/about/">View more on how I work</a>
    <a class="btn" href="http://twitter.com/feeschmidts">Tweet me</a>
  </div>
</section>
