<section id="methods">
  <div class="span3of8">
    <h1>Methods</h1>
    <p>Description of sorts that summarises things I do.</p>
    <p>Etiam cursus sapien eget leo suscipit posuere eget non lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus convallis, nisl nec tincidunt hendrerit, ipsum dui posuere felis, eu posuere sapien lectus sit amet dolor. Vestibulum ullamcorper tortor laoreet, convallis nisi vitae, suscipit nisi. Suspendisse commodo blandit felis. In in convallis tellus. Nunc sodales massa lacus, quis rhoncus nibh vulputate quis.</p>
    <a class="btn" href="/methods.html">View all Methods</a>
  </div>
  <div class="span2of8">
    <ul>
      <li class="colors__red"></li>
      <li class="colors__yellow"></li>
      <li class="colors__yellow-dark"></li>
    </ul>
  </div>
   <div class="span2of8">
    <ul>
      <li class="colors__red"></li>
      <li class="colors__yellow"></li>
      <li class="colors__yellow-dark"></li>
    </ul>
  </div>
</section>