   <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="index.html">feeschmidts Portfolio</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active">
              <a href="#">{% if page.title %} {{ page.title }} {% endif %}</a>
            </li>
            <li class="">
              <a href="http://twitter.com/feeschmidts">Contact</a>
            </li>
          </ul>

          <ul class="nav nav-pills" style="float:right">
            <li class="">
              <a href="/about.html">CV</a>
            </li>
            <li class="dropdown" id="drop3" style="margin-right:100px">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                Projects
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="index.html">All Projects</a></li>
                <li class="divider"></li>
                <li><a href="carbonculture.html">CarbonCulture</a></li>
                <li><a href="baobab.html">Baobab - Southbank</a></li>
                <li><a href="spotted.html">Spotted! App</a></li>
                <!-- <li><a href="snack4good.html">SnackforGood</a></li> -->
                <li><a href="monchique-tourism.html">Monchique Sustainable Tourism</a></li>
                <li><a href="kinnal-craft.html">Kinnal Craft</a></li>
                <li><a href="kinnal-craft-book.html">Kinnal Craft Book</a></li>
                <li><a href="getgo-glasgow.html">Getgo Glasgow</a></li>
                <li><a href="activy.html">Social Innovation Toolkit</a></li>
                <li><a href="levenskracht.html">Levenskracht</a></li>
                <li><a href="energy-brand.html">Brand Strategy</a></li>
                <li><a href="monchique-maps.html">Monchique Maps</a></li> 
                <!-- <li><a href="quinta.html">Quinta das Relvinhas Branding</a></li> -->
               <!--  <li><a href="fox.html">Fox Collective Branding</a></li> -->
               <!-- <li><a href="pavillion.html">Pavillion Design</a></li> -->
                <li class="divider"></li>
                <li><a href="about.html">About & CV</a></li>
              </ul>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
