
.icon-arrow-right {
	font-size: 15px;
	margin-top: 6px;
}

.sliders{
	
	text-align:center
}

.main-description {
	height: 150px;
}

body {
	margin-bottom: 0;
}

/*input {
	font-family: 'Dosis', sans-serif;
	font-size: 40px;
	line-height: 1.3em;

}*/

.container {
	/*overflow: hidden;
	position: relative;*/
}

.dropdown {
	z-index: 1;
}

.project {
	min-height: 500px;
}

.participants .item {
	width: 150px;
	height: 150px;
	float: left;
	padding: 2px;	
}

.participants .item:hover {
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-ms-transform: scale(1);
}

.participants .description {
	opacity: 0;
	position: absolute;
	top: 90px;
	width: 150px;
	margin-left: 5px;
	text-align: left;
	font-size: 20px;
}
.participants .item:hover .description {
	opacity: 1;
}

.participants .item .description {
	color: #FFF;
	text-decoration:none;
}

.participants .item .description h3{
	margin: 0px;
	padding: 0px;
}

.participants .item .description p{
	font-family: 'Nothing You Could Do', cursive;
	margin: 0px;
	padding: 0px;
}

.participants .item:hover .overlay {
	opacity:1;
}

.overlay {
	padding: 2px;
	position:absolute;
	top:0;
	left:0;
	width:150px;
	height:150px;
	background-image:url('../images/overlay2.png');
	opacity:0;
}

.purpose{
	margin-top: 70px;
	margin-right: 200px;
}

.range{
	text-align: center;
}

.border {
	border-style:solid;
	border-width:12px;
	border-color: #A9A9A9;

}
.border-thin {
	border-style:solid;
	border-width:1px;
	border-color: #A9A9A9;

}

.image-right {
	margin-left: 3em;
}

.video {
	margin-top: 1.5em;
}

/*img {
	margin-top: 1.5em;
}*/



a {
  color: #FF9900;
  text-decoration: none;
  font-family: 'Dosis', sans-serif;
}

a:hover {
  color: #66CC00;
  text-decoration: underline;
}

caption {
font-family: 'Dosis', sans-serif;
font-size: 15px;	
}

h1 {
  font-size: 25px;
  line-height: 36px;
  font-family: 'Overlock', cursive;
}

h1 small {
  	font-size: 18px;
}

h2 {
  margin-left: 20px;
	font-family: 'Dosis', sans-serif;
	font-size: 30px;
	margin-bottom: 30px;
}

h2 small {
  font-size: 18px;
}

h3 {
  font-size: 18px;
  line-height: 27px;
  font-family: 'Overlock', cursive;
}

.hello {
	font-size: 80px;
	margin-top: 50px;
}

h3 small {
  font-size: 14px;
}

h4,
h5,
h6 {
  line-height: 18px;
}

h4 {
  font-size: 18px;
  font-family: 'Overlock', cursive;
}

h4 small {
  font-size: 12px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;
}

p{
font-family: 'Dosis', sans-serif;
font-size: 20px;
line-height: 1.3em;
}

p.small {
  font-size: 14px;
  color: #999999;
}

.caption {
	font-size: 14px;
  	color: #999999;
  	margin-top: 10px;
}

p.note {
	font-family: 'Waiting for the Sunrise', cursive;
	font-size: 21px;
	line-height: 1.5em;
	margin-top: 20px;
}

@media (min-width: 1200px){
	.notepad {
		width: 350px;
		height: 280px;
		position: absolute;
		right: 6%;
	}
}

@media (max-width: 1200px){
	.notepad {
		display: none;
	}
}

blockquote {
	font-family: 'Dosis', sans-serif;
	font-size: 30px;
	margin: 10px;
	line-height: 1.3em;
}

.centre {
	margin-top: 35px;
}

.award {
	position: absolute;
	max-height: 80%;
	right:4%;
	z-index: 1;
	margin-top: 30px;
	-moz-transform:rotate(4deg);
	-webkit-transform:rotate(4deg);
	-o-transform:rotate(4deg);
	-ms-transform:rotate(4deg);
}
.link:hover{
	-moz-transform:rotate(8deg);
	-webkit-transform:rotate(8deg);
	-o-transform:rotate(8deg);
	-ms-transform:rotate(8deg);
	-webkit-transition: .25s linear;
	transition: .25s linear;
}

.link {
	-moz-transform:rotate(4deg);
	-webkit-transform:rotate(4deg);
	-o-transform:rotate(4deg);
	-ms-transform:rotate(4deg);
	-webkit-transition: .25s linear;
	transition: .25s linear;
}

@media (max-width: 979px) {
	.scalling-star {
		max-height:100px;
		max-width:100px;
	}
}

@media (max-width:500px) {
	.scalling-star {
		max-height: 50px;
		max-width: 50px;
	}
}

@media (max-width:377px) {
	.scalling-star {
		display:none;
	}
}

.twitter-recommend {
	float: right;
	margin-right: 6.5%;
}

@media (max-width: 979px) {
	.recommend {
		float: right;
	}
}

@media (min-width: 980px){
	.twitter-share-button {
		margin-left: 40px;
		margin-top: 70px;
	}

	.recommend {
		background-image:url(../images/recommend.png); 
		top: -60px;
		right:6%;
		position: absolute;
		height: 313px;
		width: 233px;
		z-index: 1;
		-moz-transform:rotate(4deg);
		-webkit-transform:rotate(4deg);
		-o-transform:rotate(4deg);
		-ms-transform:rotate(4deg);
		-webkit-transition: .25s linear;
		transition: .25s linear;
		text-align: center;
	}

	.recommend:hover {
		top: -10px;
		position: absolute;
		right:6%;
		z-index: 1;
	}
}

.recommend-bottom {
	bottom: -80px;
	background-image:url(../images/recommend_bottom.png);
	height:220px;
	width:230px;
	position: absolute;
	/*max-height: 80%;*/
	right:4%;
	z-index: 1;
	-webkit-transition: .25s linear;
	transition: .25s linear;
}

.recommend-bottom:hover {
	bottom: -20px;
	position: absolute;
	/*max-height: 80%;*/
	right:4%;
	z-index: 1;
	-webkit-transition: .30s ease-in-out;
	transition: .30s ease-in-out;
}

.btn {
	margin: 3px;
	color:#FF9F40;
}

.snack-btn {
	margin-top: 10px;
}

.btn-recommend {
	margin-top: 200px; 
	display: block;
	margin-left: 50px;  
	margin-bottom: 50px; 
}

.horizontal_dotted_line 
{ 
border-bottom: 1px dotted #80c080; 
width: 100px; 
} 

.rotate {
	-moz-transform:rotate(2deg);
	-webkit-transform:rotate(2deg);
	-o-transform:rotate(2deg);
	-ms-transform:rotate(2deg);
}

.rotate-left {
	-moz-transform:rotate(-2deg);
	-webkit-transform:rotate(-2deg);
	-o-transform:rotate(-2deg);
	-ms-transform:rotate(-2deg);
}

.dropshadow {
	-moz-box-shadow: 5px 5px 2px #E0D8E0;
	-webkit-box-shadow: 5px 5px 2px #E0D8E0;
	box-shadow: 5px 5px 2px #E0D8E0;
}

.statement {
	font-family: 'The Girl Next Door', cursive;
	font-size: 2.3em;
	margin-top: 50px;
	line-height: 1.5em;
}

@media (max-width:979px) {
	.mobile-span12 {
		width:100%;
		margin-top: 350px;
	}
}

@media (max-width: 699px) {
  .statement {
    font-size: 1.7em;
  }
  p {
  	font-size: 1.2em;
  }
  h1 {font-size: 1.8em;
  }
  h2 {font-size: 1.8em;
  }
  .btn {font-size:0.9em;
  }
}

.statement.about {
	font-family: 'The Girl Next Door', cursive;
	font-size: 2em;
	margin-top: 50px;
	line-height: 1.3em;
}

.instructions {
	margin-top: 50px;
	font-family:'The Girl Next Door', cursive;
	font-size: 1.3em;
	line-height: 1em;
	-moz-transform:rotate(-2deg);
	-webkit-transform:rotate(-2deg);
	-o-transform:rotate(-2deg);
	-ms-transform:rotate(-2deg);
}

/*blockquote p{
	float:left;
}*/

ul,
ol {
  padding: 0;
  margin: 0 0 9px 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

ul {
  list-style: circle;
  list-style-image: url(../images/tinystar.png);
}

ol {
  list-style: decimal;
}

li {
  line-height: 18px;
  font-family: 'Dosis', sans-serif; 
}
.span12 li {
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	line-height: 1.3em;
}

.span4 li {
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	line-height: 1.3em;
	line-height: 28px;
}

.logo {
	float: right;
	max-height: 80px;
	padding: 30px;
}
.logo.small {
	height: 50px;
}

.details{
	float: left;
	margin: 10px;
}

.other {
	float: left;
}

@media (min-width: 1200px) {
	.about {
	max-width:730px;
	min-height:300px;
	}
}

.spacer {
	margin-top: 80px;
}
.left-spacer {
	margin-left: 120px;
}
----------
.button{
width:100px;
height:100px;
display:block;
border-radius:50px;
-moz-border-radius:50px;
-webkit-border-radius:50px;
-khtml-border-radius:50px;
font-size:20px;
color:#FF0000;
line-height:100px;
text-align:center;
background:#000;
margin-bottom:20px;

}

#circle {
	width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.aim {
	background-image: Portfolio/static/images/card.png;
}

.tweet-bottom {
	position: relative;
	margin-top: 500px;
	top:0;
 right:0;
}

.aim:hover{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	background-image: #000000,
}

/*footer {
	background-color: black;
	padding: 10px;
	position: relative;
	margin-right: 100px;
}
footer p {
	font-family: 'Courgette', cursive;
	margin-left: 50px;
}*/

footer {
	background: #303030;
	padding: 10px;
	color: gray;
	padding-left: 11.6%;
	padding-bottom: 50px;
	margin-top:30px;
}

.contact {
	background-color: #C0C0C0;
}
.date {
	width: 100px;
	vertical-align: top;
	padding-top:10px;
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
}
.list {
	padding: 5px;
	padding-right: 20px;
	padding-bottom: 30px;
}
.relevance {
	margin-bottom:25px;
	font-size: 25px;
}

@media (min-width: 768px){
	.profile-pic {
		background-image: url(http://farm9.staticflickr.com/8372/8524901613_54da8a8094_b.jpg);
		background-repeat:no-repeat;
		background-size:100%;
		padding-top: 70px;
		padding-bottom: 170px;
		padding-left: 20px;
		position: relative;
		top:-10px;
		width:100%;
		/*z-index: -1;*/
	}
}

@media (max-width: 767px){
	.mobile-span12 {
		margin-top:50px;
	}
	.project {
		width:43%;
		float:left;
		margin-right: 7%;
	}
}
@media (max-width:560px) {
	.project {
		width:100%;
	}
}
