//  ---------------
//  portfolio : modules
//  ---------------

//  nav
//  -------

.top-nav {
  height: 50px;
  width: 100%;
  background-color: black;
  position: absolute;
  padding: gap(0.5);
  color: $red;
  font-weight: $font-weight-bold;
}

//  headers
//  -------

.header__hero {
  height: gap(25);
  background: url(http://images.wookmark.com/295188_wookmark.jpg) no-repeat center center fixed;
}

.aboutme__hero {
  height: gap(25);
  background: url(https://farm6.staticflickr.com/5569/15047715369_37e0f17b4b_h.jpg) no-repeat center center fixed;
}


.intro {
  padding: gap(8);
  font-size: 45px;
  line-height: 65px;
  font-weight: $font-weight-bold;
  color: $white;
}

.island {
  background-color: red;
}

#tag-buttons {
  padding-top: gap(2);
}

.btn {
  background: transparent;
  border: 1px solid $black;
  padding: gap(.5);
}
.btn:hover {
    background: $yellow;
    color: $white;
    border-color: $yellow;
  }

.btn {
  margin-right: gap(1);
  margin-bottom: gap(.5);
}

//  Color page
//  ----------

.colors__red {
  height: gap(3);
  background-color: $red;
}
.colors__yellow {
  height: gap(3);
  background-color: $yellow;
}
.colors__yellow-dark {
  height: gap(3);
  background-color: $yellow-dark;
}

.colors__orange {
  height: gap(3);
  background-color: $orange;
}

.colors__red-dark {
  height: gap(3);
  background-color: $red-dark;
}

.colors__blue {
  height: gap(3);
  background-color: $blue;
}

.colors__black {
  height: gap(3);
  background-color: $black;
}

footer {
  background: $black;
  color: $white;
  padding: gap(1);
}

section {
  padding: gap(1);
}

.section__header {
  @include text(1.5, 1);
  padding-bottom: gap(1);

  a {
    @include text(1, 1);
    margin-left: gap(2);
  }
}

.styleguide__icons {
  input {
    margin-top: 5px;
    padding: 8px;
    display: block;
    width: 180px;
    height: 40px;
    float: right;
    cursor: pointer;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #f4f4f4;
  }
}

li {
  list-style-type: none;
  padding: 0;
  margin: gap(.5);
}

.header__project {
  @include text(1.5);
}

.aboutme__heading {
  @include text(3,2);
  padding-top: gap(1);
}

.aboutme__statement {
  color: $white;
  a {
    border-color: $white;
  }
}
